<h3>Olá, {{ provider }}</h3>
<p>Houve um cancelamento de horário!</p>
<p>Cliente: <strong>{{ user }}</strong></p>
<p>Data/hora: <strong>{{ date }}</strong></p>
<br />
<p>
  <small>
    Este horário está disponível para um novo agendamento
  </small>
</p>
